html { margin-left: 10%; margin-right: 10%; font-family: 'Tahoma', sans-serif; }
#top, #bottom { color: CaptionText; background-color: ActiveCaption;
border-width: 1px; border-style: solid;
border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight; }
#bottom { text-align: right; }
#bottom p { margin: 0; padding: 0.1em; }
h1, h2 { margin: 0.1em; font-size: 1.5em; }
h1 { float: left; }
h2 { float: right; }
.clr { clear: both; }

ul.menu { list-style: none; margin: 0 auto 0 auto; padding: 0.2em; text-align: right;
color: MenuText; background-color: Menu; font-size: 0.9em; }
ul.menu li { display: inline; }
ul.menu li:before { content: ' / '; }
ul.menu li:first-child:before { content: ''; }
ul.menu ul.menu { display: inline; margin: 0; padding: 0; }

#content { min-height: 10em; margin: -0.5em 0 0 0; padding: 0.5em 0.5em 0 0.5em;
border-width: 0 1px 0 1px; border-style: solid; border-color: Menu; }
#content p { margin-top: 0; padding-top: 0.5em; margin-bottom: 0; padding-bottom: 0.5em;
text-align: justify; }

input.ok { font-weight: bold; }
ul.msgs { list-style: none; margin: 0 auto 0 auto; padding: 0; border: 1px solid; }
ul.msgs li { padding: 0 0.2em 0 0.2em; color: #000; }
ul.msgs li.ok { background-color: #9f9; }
ul.msgs li.err { background-color: #f99; }

ul.tags { list-style: none; margin: 0; padding: 0; display: inline; }
ul.tags li { margin: 0; padding: 0 0.2em 0 0.2em; font-size: 0.7em; display: inline; }
ul.tags li:after { content: ','; }
ul.tags li:last-child:after { content: ''; }

dl.tags { margin: 0; padding: 0; font-size: 10pt; }
dl.tags dt, dl.tags dd { display: inline; margin: 0; padding: 0; }
dl.tags dd:before { content: ' ('; }
dl.tags dd:after { content: '), '; }
dl.tags dd:last-child:after { content: ')'; }

form.quote, form.tags, form.users, form.quick { display: inline; }
form.quote input, form.tags input, form.users input, form.quick input { font-size: 0.6em; }

td.small { font-size: 0.8em; }
td.verysmall { font-size: 0.7em; }
table.users tr.moo, table.tags tr.moo { color: InfoText; background-color: InfoBackground; }

#content div.quote p { margin: 0; padding: 0; }
div.quote { margin: 0.5em 0 1em 0; }
div.quote .textmulti, div.quote .textsingu { font-size: 9pt;
font-family: 'Courier New', 'Courier', monospace; }
div.quote tt { margin: 0; }
div.quote em.rating { font-style: normal; }
div.quote .rating:before { content: '('; }
div.quote .rating:after { content: ')'; }
div.quote .header { font-size: 0.8em; margin: 0; padding-top: 1px; padding-bottom: 1px; }
div.quote .textmulti { max-height: 15em; overflow: auto; }
div.quote .ratedown { margin-right: 1em; }
div.quote .del { margin-right: 1em; }
div.quote .user { font-weight: bold; }
div.quote .asyncmsgs { font-size: 0.8em; cursor: pointer; }
div.quote .asyncmsgs ul.msgs { border-width: 1px 0 0 0; border-color: Menu; }
div.quote .textsingu, div.quote .textmulti { border-width: 0 1px 1px 1px;
border-style: solid; border-color: transparent; }
div.quote .op { padding: 0 0.5em 0 0.5em; text-decoration: none;
border-width: 1px; border-style: solid; border-color: transparent; }

@media screen {
	div.quote form, div.quote .userandip, div.quote .op { visibility: hidden; }

	div.quote:hover .op, div.quote .op:focus { background-color: ThreeDFace;
	border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight; }

	div.quote:hover .header { color: MenuText; background-color: Menu; }
	div.quote:hover .textsingu, div.quote:hover .textmulti, div.quote .textsingu:focus, div.quote .textmulti:focus { border-color: Menu; }

	div.quote:hover form, div.quote:hover .userandip, div.quote:hover .op, div.quote *:focus, div.quote .rateup, div.quote .ratedown { visibility: visible; }
}

@media print, projection {
	html { margin-left: inherit; margin-right: inherit; }
	div.quote { margin-bottom: 2em; }
	div.quote .rating:before { content: ''; }
	div.quote .rating:after { content: ''; }
	div.quote .textmulti { max-height: inherit; overflow: inherit; }
	a { color: inherit; background-color: inherit; text-decoration: none; }
	#top, #bottom { color: inherit; background-color: inherit; }
	#top, #content, #bottom { border-left: none; border-right: none; }
	#top { border-top: none; border-bottom: 1px solid; }
	#bottom { border-top: 1px solid; border-bottom: none; }
	div.quote form, div.quote .userandip, div.quote .op, dl.tags, ul.menu { display: none; }
}
